<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&family=Raleway:wght@300;500&display=swap"
    rel="stylesheet"
  />
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Raleway;
    }
    main {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #212223;
      color: #fff;
      gap: 1.5rem;
    }
    main img {
      width: 10rem;
    }
    main a {
      text-decoration: none;
      color: #40e0d0;
    }
  </style>
</head>
<main>
  <img src="./logo.png" alt="" />
  <h1>Bem vindo à directu</h1>
  <p>
    Muito obrigado por assinar a Directu, com certeza o seu negócio vai crescer
    muito a partir do dia de hoje!
  </p>
  <a href="https://appdirectu.vercel.app">Clique para continuar o cadastro</a>
</main>
